[user]
	email = luluco250@gmail.com
	name = Lucas Melo
[init]
	defaultBranch = master
[color]
	ui = auto
[alias]
	ff = pull --ff-only
	adds = !git add $1 && git status
	ours = !git checkout --ours $1 && git adds $1
	theirs = !git checkout --theirs $1 && git adds $1
	pushu = push --set-upstream origin HEAD
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = store
[rerere]
	enabled = true
